@import 'bootstrap';
// APP STYLES
body {
  padding-top: 20px;
}

html {
  overflow-y: scroll;
}
// NAVBAR STYLES
.navbar {
  z-index: 1;
}

.nav-btn {
  margin-top: 1rem;
}

.open > .dropdown-menu {
  display: inline-flex;
  padding: 4px;
  background-color: #222222;
}

// HOMEPAGE STYLES
.homeImage {
  margin-top: -1rem;
  border-radius: 5px;
}
.welcomeMsg {
  position: relative;
  margin-top: -28rem;
  font-size: 5rem;
  color: white;
  font-weight: bold;
  animation: fadeIn 2s linear;
  padding-left: 2.5rem;
}
.home-msg {
  text-align: center;
  background-color: #eeeeee;
  padding: 4rem;
  margin-top: 0rem;
}

.vid {
  opacity: 0.7;
}

.container {
  animation: fadeIn 0.5s linear;
  padding-left: 0rem;
  margin-top: -2.5rem;
}

.align-jumbotron {
    margin-top: 22rem;
}

// LIBRARY VIEW PAGE STYLES
.individualLibraryViewText {
  font-size: 2.5rem;
}

.library-item {
  min-height: 150px;
}

.label-fade {
  margin: 10px;
  opacity: 0;
  @include transition(all 0.5s);
  &.label-show {
    opacity: 1;
  }
}
// LIBRARY PANELS
div.panel-heading {
  min-height: 5rem;
}
div.panel-body {
  min-height: 13rem;
}

.extra-padding-bottom {
  padding-bottom: 20px;
}

// SPINNER AT BOTTOM
.glyphicon.spinning {
  animation: spin 1s infinite linear;
  -webkit-animation: spin2 1s infinite linear;
}

.vtop {
  vertical-align: top!important;
}

.not-bold {
  font-weight: normal!important;
}

// G-MAPS STYLES
.g-map{
  height: 100%;
  width: 100%;
}
.g-map-canvas {
  width: 100%;
  height: 100%;
}

.ember-cli-g-map {
    height: 300px;
}

.searchBoxStyling {
  width: 35%;
}

// FREE BOOK READING PAGE STYLES
div#viewerCanvas {
  margin: auto;
  width: 90%;
  height: 500px;
  margin-top: 0rem;
}
div.container.viewerCanvas {
  margin-top: 2rem;
} 
div.row.customList {
  margin-top: 2rem;
}
.searchedBookList {
  width: 19.5rem;
  height: 35rem;
}
.bookSearchField {
  margin-top: 2rem;
}
img.bookImage {
  height: 20rem;
}
.bookSearchBtns {
  padding: 0.2rem;
  margin-top: -0.1rem;
}

// ANIMATIONS
@keyframes fadeIn {
  from {opacity: 0}
  to {opacity: 1}
}

@keyframes spin {
  from { transform: scale(1) rotate(0deg); }
  to { transform: scale(1) rotate(360deg); }
}

@-webkit-keyframes spin2 {
  from { -webkit-transform: rotate(0deg); }
  to { -webkit-transform: rotate(360deg); }
}
@media (min-width: 992px) {
  .col-md-4 {
      width: 33.33333%;
      height: 24rem;
  }
}
// @media (min-width: 1200px) {
//   .container {
//       width: 1169px;
//   }
// }
// @media (min-width: 992px) {
//   .container {
//       width: 969px;
//   }
// }
//   @media (min-width: 768px) {
//   .container {
//       width: 749px;
//   }
// }



